body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 20px;
    background-image: image-set("Blur-Wallpapers-HD-768x432.jpg");
    background-size: cover;
}
h1{
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 10px;
}
h2{
    color: rgba(158, 200, 209, 0.966);
}
span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(163, 185, 185);
    font-size: x-large;
    display: grid;
    grid-template-columns: 1fr 5fr;
}
img{
    width: 100px;
}
#prenom{
    opacity: 0.7;
    color: rgb(89, 110, 110);

}
#nom{
    color: rgb(48, 170, 236);
}
p{
    color: rgb(89, 110, 110);
    padding-left: 2%;
}
a{
    color: rgb(105, 227, 172);
}
a:hover{
    color: aqua;
}
ul{
    
    font-size: small;
    color: rgb(89, 110, 110);
}
li{
    margin-top: 10px;
}
.container{
    display: grid;
    padding: 5%;
    border-radius: 5%;
    background-color: azure;
}
