
.form{
    background-color: rgb(190, 200, 197,0.3);
    font-family: Century Gothic;

}
h1{color: rgb(92, 92, 92);font-family: Century Gothic;}
label{
    font-weight: bold;
    color: rgba(53, 50, 53, 0.6);
    margin-left: 10%;
    
}
input{
    border-radius: 20px;
    padding-left: 10px;
    width: 80%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.6);    
    margin-top: 10px;
    margin-left: 10%;
    margin-bottom: 10px;
}

select{
    border-radius: 10px;
    text-align: center;
    background-color: rgba(255, 6, 26);
    color: rgb(242, 243, 243);
    margin-left: 10%;
    padding: 3px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    
}
option{
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color: #898888a7;
}
select:hover{
    cursor: pointer;
}
.submit{
    background-color: rgba(121, 62, 115, 0.6);
    color: rgb(255, 255, 255);
    transition-duration: 1s;
}
.submit:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.6s;
}
p{
    color: rgb(12, 10, 10);
    
    
    
}
.erreur{
    color: rgb(243, 34, 31);
    margin-left: 10%;
}
textarea{
    border-radius: 20px;
    padding-left: 10px;
    width: 80%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.6); 
}

    